/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
    margin: 16px;
}
.justyfy-content-center {
  display: flex;
  justify-content: center;
}
.justyfy-content-space-between {
  display: flex;
  justify-content: space-between;
}
.justyfy-content-space-around {
  display: flex;
  justify-content: space-around;
}
.justyfy-content-space-evenly {
  display: flex;
  justify-content: space-evenly;
}